.footer {
    background-color: #B08631;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    
}

li {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}